{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="/result">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Product Review Search</legend>
                <div class="form-group">
                    {{ form.Search_String.label(class="form-control-label") }}
                    {{ form.Search_String(class="form-control form-control-lg ") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}